.App {
  margin: auto;
  width: 1000px;
}

.top {
  width: 1000px;
  text-align: center;
  font-size: 30px
}

.category {
  float: left;
  height: 400px;
  width: 20%;
  border-right: solid;
  border-width: thin;
}

.todolist {
  float: left;
  height: 400px;
  width: 69%;
}

.addCate {
  font-size: 25px;
  position: relative;
  top: 10px;
  left: 15px;
}

.Category-category {
  position: relative;
  top: 30px;
  left: 15px;
  bottom: 15px;
  padding: 5px;
}

.addTodo-cate {
  position: relative;
  top: 10px;
  left: 30px;
  border-bottom: groove;
}

.todo-todo {
  position: relative;
  top: 20px;
  bottom: 15px;
  left: 30px;
  padding: 5px;
}

.addCateBtn {
  font-size: 20px;
  margin-right: 10px;
  border-radius: 10px;
}

.Category-btn {
  left: 50px;
}

.Category-span {
  cursor: default;
}

#add-todo {
  width: 300px;
  height: 30px;
}

.addTodo-input {
  position: relative;
  top: 10px;
  left: 30px;
}

.addTodo-btn {
  font-size: 22px;
  border-radius: 10px;
}